/* Estilos generales para el contenedor */
.todo-container {
  min-height: 100vh; /* Cubrir toda la pantalla */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #ff0080, #00bfff, #800080); /* Fondo neón rosa, azul y morado */
}

/* Estilo del título */
h1 {
  text-align: center;
  color: #ffffff;
}

/* Estilo para el input y el botón */
input {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Colores de los botones */
button:nth-child(1) {
  background-color: #5cb85c;
}

button:nth-child(2) {
  background-color: #007bff;
}

button:nth-child(3) {
  background-color: #f0ad4e;
}

button:nth-child(4) {
  background-color: #d9534f;
}

button:hover {
  opacity: 0.8;
}

/* Estilo para la lista de tareas */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li.completed span {
  text-decoration: line-through;
  color: gray;
}

.completed-arrow {
  color: green;
  margin-right: 5px;
}

/* Estilo para el botón de instalación */
.install-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff0000; /* Rojo neón */
  color: black; /* Letras negras */
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.install-btn:hover {
  opacity: 0.9;
}
